<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>view Students</title>
    <link rel="stylesheet" type="text/css" href="../static/css/mentorStudents.css">
    <script src="../static/js/adminMentors.js" async></script>

</head>

<body>
<header>
    <div id="home"><a href="mentor"><h1>Home</h1></a></div>
</header>
<section>
    <h1>Students</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th >Surname</th>
            <th >Class</th>
            <th >Wallet</th>

        </tr>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.firstName}}</td>
                <td>{{ student.lastName}}</td>
                <td>{{ student.clas}}</td>
                <td>{{ student.coolCoins}}</td>
            </tr>
        {% endfor %}


    </table>
    </br>

</section>

<form id="addMentorBox" method="POST">
    <input type="text" name="name" placeholder="Enter student's name" required/>
    <input type="text" name="surname" placeholder="Enter student's surname" required>
    <input type="text" name="class" placeholder="Enter student's class" required>
    <input type="text" name="email" placeholder="Enter student's email" required>
    <input type="text" name="phonenumber" placeholder="Enter student's phone number" required>
    <input type="text" name="coolcoins" placeholder="Enter student's coins" required>
    <input type="text" name="level" placeholder="Enter student's level" required>
    <input type="submit" id="button" value="Add Student">
</form>
<form id="removeMentorBox" method="POST">
    <input type="text" id="idToRemove" name="id" placeholder="Enter id to kick out a student" required/>
    <input type="submit" id="buttonToRemove" value="Remove Student">
</form>
</body>
</html>